@import "tailwindcss";
@import "lenis/dist/lenis.css";
:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-days: var(--font-days-serif);
  --font-abel: var(--font-abel-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-abel);
}
